*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header::before {
    background-color: rgba(245, 213, 32, 0.925);
}

@font-face {
    font-family: fMenu;
    /* Гарнитура шрифта */
    src: url(fMenu.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: fDisney;
    /* Гарнитура шрифта */
    src: url(fDisney.ttf);
    /* Путь к файлу со шрифтом */
}

html,
body {
    background: url(fon_ff.png) no-repeat;
    background-size: 1920px;
    background-position: top;
    height: 100%;
}

.content {
    padding: 800px 10px 20px;
    text-align: justify;
}

.conteiner {
    display: flex;
    flex-flow: row wrap;
    max-width: 1180px;
    margin: 0px auto;
    padding: 30px 30px 30px;
    background-color: rgba(255, 217, 0, 0.425);
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Name {
    width: 100%;
    text-align: center;
    font-family: fMenu;
    font-size: 55px;
    padding: 15px 0px 55px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    -webkit-text-stroke: 7px black;
    text-shadow: rgb(255, 255, 255) 0 0 20px;
}

.pers {
    image-rendering: optimizeQuality;
    float: left;
    max-width: 1100px;
    background-color: none;
    margin: 0 0 90px auto;
}

.pers p {
    max-width: 100%;
    margin: 0px 10px 10px 160px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 3px solid black;
    padding: 10px 10px 10px 120px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*----------------- MOLNIA ------------------------*/

.logo_doctor {
    text-align: center;
    float: left;
    transition: all 0.3s ease 0s;
    width: 250px;
    height: 300px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 6px solid black;
    border-radius: 100px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo_doctor h1 {
    font-family: fMenu;
    font-size: 23px;
    padding: 0px 0 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
}

.logo_doctor img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.logo_doctor:hover img {
    transform: rotate(15deg);
    transition: all 0.5s ease 0s;
}

.logo_doctor:hover {
    box-shadow: 0 0 30px 7px rgb(0, 225, 255);
    transition: all 0.3s ease 0s;
}


/*----------------- MOLNIA ------------------------*/


/*----------------- SALLI ------------------------*/

.logo_fines {
    text-align: center;
    float: left;
    transition: all 0.3s ease 0s;
    width: 250px;
    height: 300px;
    padding: 10px;
    background: white;
    border: 6px solid black;
    border-radius: 100px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo_fines h1 {
    font-family: fMenu;
    font-size: 40px;
    padding: 12px 0 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
}

.logo_fines img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.logo_fines:hover img {
    transform: rotate(15deg);
    transition: all 0.5s ease 0s;
}

.logo_fines:hover {
    box-shadow: 0 0 30px 7px rgb(174, 0, 255);
    transition: all 0.3s ease 0s;
}


/*----------------- SALLI ------------------------*/


/*----------------- METR ------------------------*/

.logo_ferb {
    text-align: center;
    float: left;
    transition: all 0.3s ease 0s;
    width: 250px;
    height: 300px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 6px solid black;
    border-radius: 100px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo_ferb h1 {
    font-family: fMenu;
    font-size: 40px;
    padding: 15px 0 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
}

.logo_ferb img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.logo_ferb:hover img {
    transform: rotate(15deg);
    transition: all 0.5s ease 0s;
}

.logo_ferb:hover {
    box-shadow: 0 0 30px 7px rgb(255, 196, 0);
    transition: all 0.3s ease 0s;
}


/*----------------- METR ------------------------*/


/*----------------- DOC ------------------------*/

.logo_kendis {
    text-align: center;
    float: left;
    transition: all 0.3s ease 0s;
    width: 250px;
    height: 300px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 6px solid black;
    border-radius: 100px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo_kendis h1 {
    font-family: fMenu;
    font-size: 40px;
    padding: 15px 0 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
}

.logo_kendis img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.logo_kendis:hover img {
    transform: rotate(15deg);
    transition: all 0.5s ease 0s;
}

.logo_kendis:hover {
    box-shadow: 0 0 30px 7px rgb(123, 255, 0);
    transition: all 0.3s ease 0s;
}


/*----------------- DOC ------------------------*/


/*----------------- LUI ------------------------*/

.logo_perry {
    text-align: center;
    float: left;
    transition: all 0.3s ease 0s;
    width: 250px;
    height: 300px;
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 6px solid black;
    border-radius: 100px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo_perry h1 {
    font-family: fMenu;
    font-size: 30px;
    padding: 0px 0 0;
    text-align: center;
    color: white;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px black;
}

.logo_perry img {
    width: 160px;
    height: 160px;
    margin-top: 30px;
    transition: all 0.4s ease 0s;
}

.logo_perry:hover img {
    transform: rotate(15deg);
    transition: all 0.5s ease 0s;
}

.logo_perry:hover {
    box-shadow: 0 0 30px 7px rgb(0, 195, 255);
    transition: all 0.3s ease 0s;
}


/*----------------- LUI ------------------------*/

@media(max-width:1000px) {
    .header__menu.active,
    .header__list li {
        border: 2px solid rgb(255, 166, 0);
    }
    html,
    body {
        background-size: 100%;
    }
    .content {
        padding: 100px 0px 0px 0px;
    }
    .pers {
        margin: 0 0 30px auto;
    }
    .pers p {
        max-width: 100%;
        margin: 0px 10px 10px 100px;
        font-size: 20px;
        border: 3px solid black;
        padding: 10px 10px 10px 120px;
    }
    /*----------------- MOLNIA ------------------------*/
    .logo_doctor {
        width: 200px;
        height: 250px;
    }
    .logo_doctor h1 {
        font-size: 17px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px black;
    }
    .logo_doctor img {
        width: 130px;
        height: 130px;
        margin-top: 18px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- MOLNIA ------------------------*/
    /*----------------- SALLI ------------------------*/
    .logo_fines {
        width: 200px;
        height: 250px;
    }
    .logo_fines h1 {
        font-size: 30px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px black;
    }
    .logo_fines img {
        width: 130px;
        height: 130px;
        margin-top: 18px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- SALLI ------------------------*/
    /*----------------- METR ------------------------*/
    .logo_ferb {
        width: 200px;
        height: 250px;
    }
    .logo_ferb h1 {
        font-size: 30px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px black;
    }
    .logo_ferb img {
        width: 130px;
        height: 130px;
        margin-top: 18px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- METR ------------------------*/
    /*----------------- DOC ------------------------*/
    .logo_kendis {
        width: 200px;
        height: 250px;
    }
    .logo_kendis h1 {
        font-size: 30px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px black;
    }
    .logo_kendis img {
        width: 130px;
        height: 130px;
        margin-top: 18px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- DOC ------------------------*/
    /*----------------- LUI ------------------------*/
    .logo_perry {
        width: 200px;
        height: 250px;
    }
    .logo_perry h1 {
        font-size: 25px;
        letter-spacing: 2px;
        -webkit-text-stroke: 2px black;
    }
    .logo_perry img {
        width: 130px;
        height: 130px;
        margin-top: 18px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- LUI ------------------------*/
}

@media(max-width:650px) {
    body.lock {
        overflow: hidden;
    }
    html,
    body {
        background-size: 100%;
    }
    .content {
        padding: 100px 0px 0px 0px;
    }
    .conteiner {
        padding: 10px 10px 10px;
    }
    .Name {
        font-size: 30px;
        padding: 15px 0px 20px;
        letter-spacing: 5px;
        -webkit-text-stroke: 4px black;
    }
    .pers {
        margin: 0 0 15px auto;
    }
    .pers p {
        max-width: 100%;
        margin: 0px 10px 10px 40px;
        font-size: 13px;
        border: 3px solid black;
        padding: 10px 10px 10px 60px;
    }
    /*----------------- MOLNIA ------------------------*/
    .logo_doctor {
        border: 3px solid black;
        width: 100px;
        height: 130px;
    }
    .logo_doctor h1 {
        padding: 0px 0 0;
        font-size: 9px;
        letter-spacing: 1px;
        -webkit-text-stroke: 1.2px black;
    }
    .logo_doctor img {
        width: 70px;
        height: 70px;
        margin-top: 0px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- MOLNIA ------------------------*/
    /*----------------- SALLI ------------------------*/
    .logo_fines {
        border: 3px solid black;
        width: 100px;
        height: 130px;
    }
    .logo_fines h1 {
        padding: 3px 0 0;
        font-size: 15px;
        letter-spacing: 1px;
        -webkit-text-stroke: 1.2px black;
    }
    .logo_fines img {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- SALLI ------------------------*/
    /*----------------- METR ------------------------*/
    .logo_ferb {
        border: 3px solid black;
        width: 100px;
        height: 130px;
    }
    .logo_ferb h1 {
        padding: 3px 0 0;
        font-size: 15px;
        letter-spacing: 1px;
        -webkit-text-stroke: 1.2px black;
    }
    .logo_ferb img {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- METR ------------------------*/
    /*----------------- DOC ------------------------*/
    .logo_kendis {
        border: 3px solid black;
        width: 100px;
        height: 130px;
    }
    .logo_kendis h1 {
        padding: 2px 0 0;
        font-size: 14px;
        letter-spacing: 1px;
        -webkit-text-stroke: 1.2px black;
    }
    .logo_kendis img {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- DOC ------------------------*/
    /*----------------- LUI ------------------------*/
    .logo_perry {
        border: 3px solid black;
        width: 100px;
        height: 130px;
    }
    .logo_perry h1 {
        padding: 0px 0 0;
        font-size: 11px;
        letter-spacing: 1px;
        -webkit-text-stroke: 1.2px black;
    }
    .logo_perry img {
        width: 70px;
        height: 70px;
        margin-top: 10px;
        transition: all 0.4s ease 0s;
    }
    /*----------------- LUI ------------------------*/
}