*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.header::before {
    background-color: lightblue;
}

@font-face {
    font-family: fMenu;
    /* Гарнитура шрифта */
    src: url(fMenu.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: fDisney;
    /* Гарнитура шрифта */
    src: url(fDisney.ttf);
    /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: CSM;
    src: url(CSM.ttf);
}

@font-face {
    font-family: impact_f;
    src: url(impact_f.ttf);
}

html,
body {
    background: url(fon2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/*----------------- GENERAL ------------------------*/

.content {
    padding: 90px 0 20px;
    text-align: justify;
}

.conteiner {
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content__text {
    text-align: center;
    padding: 20px;
}

.text p {
    color: rgb(71, 71, 71);
    font-family: CSM, cursive;
    padding: 20px 100px 20px 100px;
    font-size: 20px;
}

.text h1 {
    text-shadow: #606163 0px 0px 0, #646668 1px 1px 0, #76787a 2px 2px 0, #6f7072 3px 3px 0, #828486 4px 4px 0;
    color: rgb(26, 26, 26);
    font-family: impact_f;
    font-size: 40px;
}

.content__text img {
    margin: auto;
    margin-bottom: 40px;
    display: block;
    max-width: 80%;
    flex: 0 0 400px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
}

.text {
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    max-width: 80%;
    border-width: 1px;
}

@media(max-width:1000px) {
    .header__menu.active,
    .header__list li {
        border: 2px solid lightblue;
    }
    .content {
        padding: 60px 7px 10px;
    }
    .text p {
        font-size: 17px;
        line-height: 25px;
        padding: 20px 50px 20px 50px;
    }
    .content__text {
        text-align: center;
        padding: 10px;
    }
    .text h1 {
        font-size: 35px;
    }
}

@media(max-width:650px) {
    .content {
        padding: 60px 7px 10px;
    }
    .text p {
        font-size: 15px;
        line-height: 25px;
        padding: 20px 10px 20px 10px;
    }
    .content__text {
        text-align: center;
        padding: 10px;
    }
    .text h1 {
        font-size: 25px;
    }
}